
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_TravelLayout.cshtml";
}

<div class="content">
	<div class="wrap">
		<div class="about">
			<h3>About</h3>
			<img src="~/web/images/about_banner.jpg" alt="" />
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
		</div>
	</div>
</div>
